
extends layout

block append vars
  - bodyclass += ' article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  h1= page.title

block content
  article.article
    section.content
      != typogr(page.html).typogrify()
      
      a(name="contributors", class="anchor")
      h2 Contributors
      ul
        - for contributorKey in page.metadata.contributors
          li
            - var contributor = contents.authors[contributorKey + '.json']
            if contributor
              a(href=contributor.metadata.link)= contributor.metadata.name
            else
              =contributorKey
      
      p
        | If you're looking to contribute to this project, please review the
        | 
        a(href="guides/how-to-contribute-to-guides/") How to Contribute to Guides
        | 
        | guide. It goes over the basic process, as well as the
        | 
        em "Mission Statement"
        | 
        | of the Guides project. Contributions are not only welcome, but
        | encouraged!
